<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
                xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <renderField>
        <processor role:require="Standalone or ContentManagement" patch:after="*[@type='Sitecore.XA.Foundation.Editing.Pipelines.RenderField.SetWebEditingParameters, Sitecore.XA.Foundation.Editing']"
                   type="WKSkunkWorks.Foundation.DAM.Pipelines.Rendering.ExperienceEditorImportReadOnlyOverride, WKSkunkWorks.Foundation.DAM" />
      </renderField>
      <renderContentEditor>
        <processor role:require="Standalone or ContentManagement" patch:before="processor[1]" type="WKSkunkWorks.Foundation.DAM.Pipelines.Rendering.ContentEditorImportRendering, WKSkunkWorks.Foundation.DAM" />
      </renderContentEditor>
    </pipelines>
  </sitecore>
</configuration>