<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.com/xmlconfig/role">
  <sitecore>
    <events>
      <event name="item:saved">
        <handler role:require="Standalone or ContentManagement" patch:after="handler[@type='WKSkunkWorks.Foundation.SiteCron.Events.SitecronSavedHandler, WKSkunkWorks.Foundation.SiteCron']"
                 type="WKSkunkWorks.Foundation.DAM.Pipelines.Export.ItemSaved, WKSkunkWorks.Foundation.DAM" method="OnItemSaved" resolve="true"/>
      </event>
      <event name="item:saved">
        <handler role:require="Standalone or ContentManagement" patch:after="handler[@type='WKSkunkWorks.Foundation.DAM.Pipelines.Export.ItemSaved, WKSkunkWorks.Foundation.DAM']"
                 type="WKSkunkWorks.Foundation.DAM.Pipelines.Rendering.ImportMappingService, WKSkunkWorks.Foundation.DAM" method="OnItemSaved" resolve="true"/>
      </event>
      <event name="item:saved:remote">
        <handler role:require="Standalone or ContentManagement" patch:after="handler[@type='WKSkunkWorks.Foundation.DAM.Pipelines.Export.ItemSaved, WKSkunkWorks.Foundation.DAM']"
                 type="WKSkunkWorks.Foundation.DAM.Pipelines.Rendering.ImportMappingService, WKSkunkWorks.Foundation.DAM" method="OnItemSavedRemote" resolve="true"/>
      </event>
      <event name="item:deleted">
        <handler role:require="Standalone or ContentManagement" patch:after="handler[@type='WKSkunkWorks.Foundation.SiteCron.Events.SitecronSavedHandler, WKSkunkWorks.Foundation.SiteCron']"
        type="WKSkunkWorks.Foundation.DAM.Pipelines.Export.ItemSaved, WKSkunkWorks.Foundation.DAM" method="OnItemDeleted" resolve="true"/>
      </event>
    </events>
    <pipelines>
      <cmp.importEntity>
        <processor type="WKSkunkWorks.Foundation.DAM.Pipelines.Import.FetchEntity, WKSkunkWorks.Foundation.DAM" patch:instead="*[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.FetchEntity, Sitecore.Connector.CMP']" resolve="true" />
        <processor type="WKSkunkWorks.Foundation.DAM.Pipelines.Import.EnsureItem, WKSkunkWorks.Foundation.DAM" patch:instead="*[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.EnsureItem, Sitecore.Connector.CMP']" resolve="true" />
        <processor type="WKSkunkWorks.Foundation.DAM.Pipelines.Import.EnsureItemVersion, WKSkunkWorks.Foundation.DAM" patch:after="*[@type='WKSkunkWorks.Foundation.DAM.Pipelines.Import.EnsureItem, WKSkunkWorks.Foundation.DAM']" resolve="true" />
        <processor type="WKSkunkWorks.Foundation.DAM.Pipelines.Import.SetContentAuthor, WKSkunkWorks.Foundation.DAM" resolve="true" patch:before="*[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.SaveFieldValues, Sitecore.Connector.CMP']"/>
        <processor type="WKSkunkWorks.Foundation.DAM.Pipelines.Import.TextMapping, WKSkunkWorks.Foundation.DAM" resolve="true" patch:instead="*[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.SaveFieldValues, Sitecore.Connector.CMP']"/>
        <processor type="WKSkunkWorks.Foundation.DAM.Pipelines.Import.MapLinkedData, WKSkunkWorks.Foundation.DAM" patch:after="*[@type='WKSkunkWorks.Foundation.DAM.Pipelines.Import.TextMapping, WKSkunkWorks.Foundation.DAM']" resolve="true" />
        <processor type="WKSkunkWorks.Foundation.DAM.Pipelines.Import.SetFieldWithBackupOption, WKSkunkWorks.Foundation.DAM" resolve="true" patch:after="*[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.SaveFieldValues, Sitecore.Connector.CMP']"/>
        <processor type="WKSkunkWorks.Foundation.DAM.Pipelines.Import.SaveDataSourceFieldValues, WKSkunkWorks.Foundation.DAM" patch:after="*[@type='WKSkunkWorks.Foundation.DAM.Pipelines.Import.MapLinkedData, WKSkunkWorks.Foundation.DAM']" resolve="true" />
        <processor type="WKSkunkWorks.Foundation.DAM.Pipelines.Import.SaveImageFieldValues, WKSkunkWorks.Foundation.DAM" patch:after="*[@type='WKSkunkWorks.Foundation.DAM.Pipelines.Import.SaveDataSourceFieldValues, WKSkunkWorks.Foundation.DAM']" resolve="true" />
        <processor type="WKSkunkWorks.Foundation.DAM.Pipelines.Import.SaveDataSourceImageValues, WKSkunkWorks.Foundation.DAM" patch:after="*[@type='WKSkunkWorks.Foundation.DAM.Pipelines.Import.SaveImageFieldValues, WKSkunkWorks.Foundation.DAM']" resolve="true" />
        <processor type="WKSkunkWorks.Foundation.DAM.Pipelines.Import.SetCmpWorkflowAndState, WKSkunkWorks.Foundation.DAM" patch:after="*[@type='WKSkunkWorks.Foundation.DAM.Pipelines.Import.SaveDataSourceImageValues, WKSkunkWorks.Foundation.DAM']" resolve="true" />
        <processor type="WKSkunkWorks.Foundation.DAM.Pipelines.Import.SetSitecoreIDInCmpItem, WKSkunkWorks.Foundation.DAM" patch:after="*[@type='WKSkunkWorks.Foundation.DAM.Pipelines.Import.EnsureItem, WKSkunkWorks.Foundation.DAM']" resolve="true" />
      </cmp.importEntity>

      <wk.exportTaxonomy>
        <processor type="WKSkunkWorks.Foundation.DAM.Pipelines.Export.CheckExportNeeded, WKSkunkWorks.Foundation.DAM" resolve="true" />
        <processor type="WKSkunkWorks.Foundation.DAM.Pipelines.Export.SendMessageToDAM, WKSkunkWorks.Foundation.DAM" resolve="true" />
        <processor type="WKSkunkWorks.Foundation.DAM.Pipelines.Export.UpdateXPItemWithDamID, WKSkunkWorks.Foundation.DAM" resolve="true" />
      </wk.exportTaxonomy>
    </pipelines>
  </sitecore>
</configuration>